// variables
$dir:rtl;
$left:right;
$right:left;


// fonts
$semiBold:'BalooBhaijaan2-Medium';
$regular:'BalooBhaijaan2-Regular';
$light:'BalooBhaijaan2-Regular';
$black:'BalooBhaijaan2-ExtraBold';
$bold:'BalooBhaijaan2-SemiBold';


// fonts
$fancysemiBold:'Lemonada-Medium';
$fancyregular:'Lemonada-Regular';
$fancylight:'Lemonada-ExtraBold';
$fancyblack:'Lemonada-Black';
$fancybold:'Lemonada-SemiBold';
