// variables
$dir:ltr;
$left:left;
$right:right;

// fonts
$semiBold:'SourceSansPro-SemiBold';
$regular:'SourceSansPro-Regular';
$light:'SourceSansPro-Light';
$black:'SourceSansPro-Black';
$bold:'SourceSansPro-bold';

// fonts
$fancysemiBold:'PatuaOne-SemiBold';
$fancyregular:'PatuaOne-Regular';
$fancylight:'PatuaOne-Light';
$fancyblack:'PatuaOne-Black';
$fancybold:'PatuaOne-bold';
