// General Variables

// font-size
$fontSize:1vw;
$borderRadius:2rem;
$transition:1s all ease;

$primaryColor:#0A2521;

$cardTextColor:#f8de8d;

$boxShadow:3px 4px 6px 0px rgb(10 37 33 / 30%);

// color pallete
$rose:#f70a71;
$worm:#98eb1c;
$black:#0f0026;
$indigo:#47018c;
$purple:#8900a8;
