// General Variables

// font-size
$fontSize:1vw;
$borderRadius:2rem;
$transition:.3s all ease-in-out;

$primaryColor:#0A2521;

$cardTextColor:#f8de8d;

$boxShadow:0.2rem 0.3rem 0.2rem rgba(0, 0, 0, .075);

// color pallete
$rose:#f70a71;
$worm:#98eb1c;
$black:#0f0026;
$indigo:#47018c;
$purple:#8900a8;
