<soc-page-layout>
    <soc-page-title [title]="'DASHBOARD.allteams' | translate"></soc-page-title>
    <p-table styleClass="p-datatable-striped"
        [value]="teams"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} teams"
        [rowsPerPageOptions]="[10,20,50]">
        <ng-template pTemplate="header">
            <tr>
                <th scope="">#</th>
                <th scope="">{{'TEAMS.name' | translate}}</th>
                <th scope="">{{'TEAMS.captin' | translate}}</th>
                <th scope="">{{'TEAMS.brief' | translate}}</th>
                <th scope="">{{'actions' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"
            let-team>
            <tr>
                <td>{{team.teamId}}</td>
                <td><strong>{{team.teamName}}</strong></td>
                <td>
                    <a *ngIf="team?.captinFirstName">
                        {{team?.captinFirstName}} {{team?.captinLastName}}
                    </a>
                    <span *ngIf="!team?.captinFirstName">-</span>
                </td>
                <td>{{team.teamBrief | slice :0 : 120}}</td>
                <td style="width: 250px;">
                    <div style="display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    grid-gap: 10px;">
                        <button pButton
                            pRipple
                            *ngIf="canJoinTeams"
                            type="button"
                            icon="pi pi-check"
                            class="p-button-rounded p-button-raised p-button-sm"
                            label="Join"
                            (click)="joinTeam(team.teamId, team.teamCaptinId)"></button>
                        <button pButton
                            pRipple
                            type="button"
                            icon="pi pi-eye"
                            class="p-button-rounded p-button-success p-button-raised p-button-sm"
                            label="View"
                            [routerLink]="['./action/view',team.teamId]"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</soc-page-layout>