.league__registered__teams {
  display: flex;
  align-items: center;

  .league__registered__teams__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include backgroundOnHover(rgb(193, 193, 193, .25), $pad:1rem);
    // box-shadow: $boxShadow;
    border-radius: $borderRadius;
    margin-#{$right}: 2rem;

    p {
      margin: 0;
      font-family: $bold;
    }
  }
}
