<div class="player__card">
    <img src="../../../../assets/images/playercard1.png"
        width="400px"
        alt="">
    <div class="player__card__brief__container">
        <div class="player__card__brief">
            <h1 class="player__card__brief__total">97</h1>
            <h3 class="player__card__brief__position">ST</h3>
        </div>
        <div class="player__card__img">
            <img src="../../../../assets/images/players/mo.png"
                alt="">
        </div>
    </div>
    <div class="player__card__content">
        <div class="player__card__content__name">
            <p>MOHAMED SALAH</p>
        </div>
        <div class="player__card__content__stats">
            <ul class="list-unstyled">
                <li>
                    <span class="player__card__content__stats__name">pac</span>
                    <span class="player__card__content__stats__number">95</span>
                </li>
                <li>
                    <span class="player__card__content__stats__name">SHO</span>
                    <span class="player__card__content__stats__number">90</span>
                </li>
                <li>
                    <span class="player__card__content__stats__name">PAS</span>
                    <span class="player__card__content__stats__number">85</span>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li>
                    <span class="player__card__content__stats__name">DRI</span>
                    <span class="player__card__content__stats__number">80</span>
                </li>
                <li>
                    <span class="player__card__content__stats__name">def</span>
                    <span class="player__card__content__stats__number">88</span>
                </li>
                <li>
                    <span class="player__card__content__stats__name">phy</span>
                    <span class="player__card__content__stats__number">90</span>
                </li>
            </ul>
        </div>
    </div>
</div>