.page__title {
  padding: 0.1rem 0;
  // border-bottom: 1px solid darken(#f8f9fa, 11);
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .page__title__container {
    p {
      margin: 0;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-family: $bold;
    }
  }
}
