.page__layout {
  background: #fff;
  border-radius: $borderRadius;
  padding: 2rem;
  box-shadow: $boxShadow;

  [pageSection] {
    &:not(:last-child) {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      // border-bottom: 1px solid #ececec;
    }
  }
}
