<soc-page-layout>
    <div class="teams__myteam">
        <div>
            <soc-page-title [title]="team?.teamName">
                <button pButton
                    type="button"
                    icon="pi pi-check"
                    label="Join Team"
                    *ngIf="canJoin"
                    class="p-button-raised p-button-rounded"></button>
            </soc-page-title>
            <p>{{team?.teamBrief}}</p>
            <div class="row">
                <p-table [value]="teamMembers">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'TEAMS.PLAYERS.name' | translate}}</th>
                            <th>{{'TEAMS.PLAYERS.position' | translate}}</th>
                            <th>{{'TEAMS.PLAYERS.number' | translate}}</th>
                            <th>{{'TEAMS.PLAYERS.joindate' | translate}}</th>
                            <th>{{'TEAMS.PLAYERS.birthdate' | translate}}</th>
                            <th>{{'TEAMS.PLAYERS.age' | translate}}</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body"
                        let-team>
                        <tr>
                            <td>
                                {{team.nickname}} <small>({{team.firstname}} {{team.lastname}})</small>
                            </td>
                            <td>{{team.position}}</td>
                            <td>{{team.shirtNumber}}</td>
                            <td>{{team.created_date | date}}</td>
                            <td>{{team.birthDate | date}}</td>
                            <td>{{team.birthDate | calculateAge}}</td>
                            <td>
                                <img *ngIf="team.isCaptin"
                                    src="../../../../assets/images/icons/captain.png"
                                    alt="team captin"
                                    title="team captin"
                                    width="30">
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="row mt-5">
                <soc-page-title [title]="'TEAMS.awards'|translate">
                </soc-page-title>
            </div>
        </div>
    </div>
</soc-page-layout>