<soc-page-layout>
    <soc-page-title [title]="'DASHBOARD.players' | translate"></soc-page-title>
    <p-table styleClass="p-datatable-striped"
        [value]="players"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} players"
        [rowsPerPageOptions]="[10,20,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>{{'TEAMS.PLAYERS.name' | translate}}</th>
                <th>{{'TEAMS.PLAYERS.position' | translate}}</th>
                <th>{{'TEAMS.PLAYERS.number' | translate}}</th>
                <th>{{'TEAMS.PLAYERS.birthdate' | translate}}</th>
                <th>{{'TEAMS.PLAYERS.age' | translate}}</th>
                <th>{{'TEAMS.PLAYERS.teamname' | translate}}</th>
                <th>{{'TEAMS.PLAYERS.joindate' | translate}}</th>
                <th>{{'actions' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"
            let-player>
            <tr>
                <td>{{player.userId}}</td>
                <td>
                    {{player.nickName}} <small>({{player.firstName}} {{player.lastName}})</small>
                </td>
                <td>{{player.position}}</td>
                <td>{{player.shirtNumber}}</td>
                <td>{{player.birthDate | date}}</td>
                <td>{{player.birthDate | calculateAge}}</td>
                <td>
                    <a *ngIf="player.teamId && myTeam?.teamId == player.teamId"
                        routerLink='../teams/myteam'>{{player.teamName}}</a>
                    <a *ngIf="player.teamId && myTeam?.teamId != player.teamId"
                        routerLink='../teams/action/view/{{player.teamId}}'>{{player.teamName}}</a>
                    <span *ngIf="!player.teamId">-</span>
                </td>
                <td>{{(player.created_date | date) || '-'}}</td>
                <td style="max-width: 250px;">
                    <div style="display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    grid-gap: 10px;">
                        <button pButton
                            pRipple
                            type="button"
                            icon="pi pi-eye"
                            class="p-button-rounded p-button-success p-button-raised p-button-sm"
                            label="View"
                            [routerLink]="['./action/view',player.userId]"></button>
                        <button pButton
                            *ngIf="!player.teamId && myTeam?.isCaptin"
                            pRipple
                            type="button"
                            (click)="invitePlayer(player.userId)"
                            icon="pi pi-check"
                            class="p-button-rounded p-button-raised p-button-sm"
                            label="Invite"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</soc-page-layout>