@font-face {
    font-family: 'Lemonada-Regular';
    src: url('./../../fonts/Lemonada/static/Lemonada-Regular.ttf');
}
@font-face {
    font-family: 'Lemonada-Light';
    src: url('./../../fonts/Lemonada/static/Lemonada-Light.ttf');
}
@font-face {
    font-family: 'Lemonada-Medium';
    src: url('./../../fonts/Lemonada/static/Lemonada-Medium.ttf');
}
@font-face {
    font-family: 'Lemonada-Bold';
    src: url('./../../fonts/Lemonada/static/Lemonada-Bold.ttf');
}
@font-face {
    font-family: 'Lemonada-SemiBold';
    src: url('./../../fonts/Lemonada/static/Lemonada-SemiBold.ttf');
}

@font-face {
    font-family: 'BalooBhaijaan2-Regular';
    src: url('./../../fonts/Baloo_Bhaijaan_2/static/BalooBhaijaan2-Regular.ttf');
}
@font-face {
    font-family: 'BalooBhaijaan2-ExtraBold';
    src: url('./../../fonts/Baloo_Bhaijaan_2/static/BalooBhaijaan2-ExtraBold.ttf');
}
@font-face {
    font-family: 'BalooBhaijaan2-Medium';
    src: url('./../../fonts/Baloo_Bhaijaan_2/static/BalooBhaijaan2-Medium.ttf');
}
@font-face {
    font-family: 'BalooBhaijaan2-Bold';
    src: url('./../../fonts/Baloo_Bhaijaan_2/static/BalooBhaijaan2-Bold.ttf');
}
@font-face {
    font-family: 'BalooBhaijaan2-SemiBold';
    src: url('./../../fonts/Baloo_Bhaijaan_2/static/BalooBhaijaan2-SemiBold.ttf');
}