@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('./../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('./../../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('./../../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('./../../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('./../../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf');
}

@font-face {
    font-family: 'PatuaOne-Regular';
    src: url('./../../fonts/Patua_One/PatuaOne-Regular.ttf');
}
@font-face {
    font-family: 'PatuaOne-Light';
    src: url('./../../fonts/Patua_One/PatuaOne-Regular.ttf');
}
@font-face {
    font-family: 'PatuaOne-SemiBold';
    src: url('./../../fonts/Patua_One/PatuaOne-Regular.ttf');
}
@font-face {
    font-family: 'PatuaOne-Bold';
    src: url('./../../fonts/Patua_One/PatuaOne-Regular.ttf');
}
@font-face {
    font-family: 'PatuaOne-Black';
    src: url('./../../fonts/Patua_One/PatuaOne-Regular.ttf');
}